@import "../../../assets/scss/global.scss";

.section {
  margin-top: 1rem;
}

.section,
.material-list {
  width: 100%;
  overflow: visible;
}

.section mat-expansion-panel-header {
  font-weight: bold;
}

.material-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}

.material-list-item {
  width: 150px;
  min-height: 150px;
  margin: 0.5rem 0.5rem;
  --material-icon-font-size: 36px;
}

.material-upload {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.material {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.upload-btn {
  margin-left: 1rem;
}

.upload-btn:hover {
  background-color: mat-color($warn);
}

.material-upload-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header {
  background-color: mat-color($warn)!important;
  color: #fff!important;
  box-shadow: 0 0.1px 2px 1px grey;
}

.section-title {
  color: #fff!important;
}

.section-header:hover, .section-header:hover .section-title {
  background-color: mat-color($accent)!important;
  color: mat-color($primary)!important;
}

.slide-sideways {
  animation-duration: 1s;
  animation-name: slide-sideways;
  animation-iteration-count: infinite;
}

@keyframes slide-sideways {
  0% {margin-right: 0}
  50% {margin-right: 1rem}
  100% {margin-right: 0;}
}
