:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  --app-sidenav-width: 240px;
  --app-header-height: 60px;
}

main {
  display: flex;
  flex: 1;
  height: 100%;
  margin-left: var(--app-sidenav-width);
  background-color: #fff;
  transition: 0.3s;
}
