@import "../../../assets/scss/global.scss";

:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--app-sidenav-width);
  margin-top: var(--app-header-height);
  background-color: mat-color($primary);
  z-index: 98;
  transition: 0.3s;
}

.drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: inherit;
  overflow-y: auto;
}

.drawer a {
  text-decoration: none;
  background-color: mat-color($primary);
  color: mat-color($accent);
  transition: 0.3s;
}

.drawer a.active {
  filter: brightness(0.7);
}

.drawer:hover {
  width: fit-content;
  min-width: var(--app-sidenav-width);
}

.drawer a:hover {
  -webkit-filter: invert(0.7);
  filter: invert(0.7);
}

.sidenav-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  position: relative;
}

.sidenav-card mat-card-content {
  text-align: left;
  vertical-align: middle;
  font-size: 16pt;
  margin-left: 1rem;
  height: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  color: mat-color($primary);
  background-color: mat-color($accent);
}