<div class="list-wrapper">
  <form class="filter" (submit)="onSubmitSearch()">
    <mat-form-field appearance="legacy">
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        name="filterValue"
        placeholder="Search"
        [(ngModel)]="filterValue"
      />
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Filter</mat-label>
      <mat-select [(ngModel)]="filter" name="filter">
        <mat-option *ngFor="let filter of filterKeys" [value]="filter">{{
          filters[filter]
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Sort by</mat-label>
      <mat-select [(ngModel)]="sortBy" name="sortBy">
        <mat-option *ngFor="let filter of filterKeys" [value]="filter">{{
          filters[filter]
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="desc" name="desc">Descending</mat-checkbox>
    <button mat-raised-button color="primary" type="submit" class="form-btn">
      <mat-icon>search</mat-icon>Search
    </button>
    <mat-paginator
      #paginator
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageIndex]="currentPage"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </form>
  <div *ngIf="user?.roles?.includes(USER_ROLES.ADMIN)" class="add-course-link">
    <a routerLink="/create-course" mat-fab matTooltip="Add course"><mat-icon>add</mat-icon></a>
    <span>Create course</span>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let course of courses">
      <a routerLink="/courses/{{ course.id }}">
        <mat-card>
          <section class="left-side">
            <mat-card-title>
              {{ course.name }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ course.createdBy }}
            </mat-card-subtitle>
            <mat-card-content>
              {{ course.description }}
            </mat-card-content>
          </section>
          <section class="right-side">
            <mat-card-title>
              {{ course.facultyDepartmentDto?.name }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ course.courseGroup?.name }}
            </mat-card-subtitle>
            <mat-card-content *ngIf="user?.roles?.includes('ADMIN')">
              {{ course.id }}
            </mat-card-content>
          </section>
        </mat-card>
      </a>
    </mat-list-item>
  </mat-list>
</div>
