<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material Request</title>
</head>
<body>
    <p>@Model.data["requester"] submitted a new material request for this <a href="http://localhost:4200/courses/@Model.data["courseId"]#section-@Model.data["sectionId"]">course section</a></p>
</body>
</html>
