<div class="list-wrapper">
    <p class="title">Course Lists</p>

    <div class="inputField">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Clearable input</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-fab color="primary" (click)="addList()" aria-label="Example icon button with a add icon">
            <mat-icon>playlist_add</mat-icon>
        </button>
    </div>

    <mat-list>
        <mat-list-item *ngFor="let list of coursesLists" class="coursesLists">
            <button routerLink="" class="parent">
                <mat-card>
                    <section class="left-side">
                        <mat-card-title>
                            {{list.listName}}
                        </mat-card-title>
                        <button mat-fab color="primary" (click)="addList()" aria-label="Example icon button with a add icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </section>
                    <section class="right-side">
                        <button mat-fab color="primary" (click)="$event.stopPropagation(); deleteList(list.id!)" aria-label="Example icon button with a delete icon">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </section>
                </mat-card>
            </button>
        </mat-list-item>
    </mat-list>
</div>