@import '../../../assets/scss/global.scss';

:host,
.list-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

p.title {
    color: mat-color($primary);
    font-size: 32pt;
    font-weight: bold;
    margin-left: 4rem;
}

mat-list-item {
  width: 100%;
  height: fit-content;
  margin: 1rem 0;
}

mat-list-item a {
  width: 100%;
  text-decoration: none;
}

mat-list-item:hover a, mat-list-item:hover mat-card section mat-card-title {
  background-color: mat-color($primary);
  color: #fff;
}

mat-card {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.5s;
}

mat-card section {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
}

.right-side {
  align-items: flex-end;
  justify-content: center;
}

.left-side {
  display: flex;
  justify-content: center;
}

.mat-fab {
    box-shadow: none;
}

mat-list-item:hover a .mat-fab.mat-primary {
    background-color: #fff;
    color: mat-color($primary);
}

@media screen and (max-width: 650px) {
  mat-card section {
    width: 100%;
    align-items: flex-start;
  }
}
