:host,
.course-wrapper {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

mat-card {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.5s;
}

mat-card section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

mat-card section * {
  word-break: break-word;
}

.right-side {
  align-items: flex-end;
}

mat-list {
  width: 100%;
  overflow-y: auto;
}

.section-list {
  margin-top: 2rem;
  width: 100%;
}
