<div *ngIf="course" class="course-wrapper">
  <mat-card>
    <section class="left-side">
      <mat-card-title>
        {{ course.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ course.createdBy }}
      </mat-card-subtitle>
      <mat-card-content>
        {{ course.description }}
      </mat-card-content>
    </section>
    <section class="right-side">
      <mat-card-title>
        {{ course.facultyDepartmentDto?.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ course.courseGroup?.name }}
      </mat-card-subtitle>
      <mat-card-content *ngIf="user?.roles?.includes('ADMIN')">
        {{ course.id }}
      </mat-card-content>
    </section>
  </mat-card>

  <mat-list class="section-list">
    <mat-list-item *ngFor="let section of course.sectionDtos">
      <mat-expansion-panel class="section" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ section.name }} </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list class="material-list">
          <mat-list-item *ngFor="let material of section.materials">
            <a
              routerLink="/courses/sections/{{ section.id }}/materials/{{
                material.fileName
              }}"
            >
              <mat-icon [inline]="true">{{ fileFormats[material.fileFormat ?? 'default'] }}</mat-icon>
              <span>{{material.fileName ?? 'unknown'}}</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <input type="file" />
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-list-item>
  </mat-list>
</div>
