<div *ngIf="course" class="course-wrapper">
  <mat-card>
    <section class="left-side">
      <mat-card-title>
        {{ course.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ course.createdBy }}
      </mat-card-subtitle>
      <mat-card-content>
        {{ course.description }}
      </mat-card-content>
    </section>
    <section class="right-side">
      <mat-card-title>
        {{ course.facultyDepartmentDto?.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ course.courseGroup?.name }}
      </mat-card-subtitle>
      <mat-card-content *ngIf="user?.roles?.includes('ADMIN')">
        {{ course.id }}
      </mat-card-content>
    </section>
  </mat-card>

  <section class="section-list">
    <mat-accordion multi>
      <form
        *ngIf="user?.roles?.includes(USER_ROLES.ADMIN)"
        (submit)="createSection()"
      >
        <mat-card>
          <button mat-mini-fab color="primary" type="submit">
            <mat-icon>add</mat-icon>
          </button>
          <mat-form-field appearance="legacy">
            <mat-label>Section name</mat-label>
            <input matInput type="text" required />
          </mat-form-field>
        </mat-card>
      </form>
      <app-section
        *ngFor="let section of course.sectionDtos"
        [section]="section"
      ></app-section>
    </mat-accordion>
  </section>
</div>
