<div class="list-wrapper">
  <div *ngIf="isEditClicked; else notClicked">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Courses List Name</mat-label>
        <input matInput #message [(ngModel)]="inputValue" name="inputValue" maxlength="50"
          placeholder="Ex. I need help with...">
        <mat-hint align="start"><strong>{{coursesList.listName}}</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
      </mat-form-field>
    </form>
    <div class="response">
      <button mat-button color="warn" (click)="$event.stopPropagation();  closeInputDeny()">Deny</button>
      <button mat-button color="primary" (click)="$event.stopPropagation();  closeInputSubmit()">Submit</button>
    </div>
  </div>
  <ng-template #notClicked>
    <div class="listName">
      <p class="title">
        {{coursesList.listName}}
      </p>
      <button mat-fab color="primary" (click)="$event.stopPropagation();  showInput()"
        aria-label="Example icon button with a edit icon">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </ng-template>

  <mat-list>
    <mat-list-item class="course" *ngFor="let course of coursesList.courses">
      <app-course-card [course]="course"></app-course-card>
    </mat-list-item>
  </mat-list>
</div>
