@import "~@angular/material/theming";

$app-primary: mat-palette($mat-deep-purple);
$app-accent: mat-palette($mat-amber, A200, A100, A400);
$app-warn: mat-palette($mat-pink);
$theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));
$color: mat-get-color-config($theme);

$primary: map-get($color, primary);
$accent: map-get($color, accent);
$warn: map-get($color, warn);

.form-button {
  background-color: mat-color($primary);
  color: mat-color($accent);
  width: fit-content;
  transition: 0.3s;
  font-weight: bold;
}

.form-button:hover {
  background-color: #fff;
  color: #000;
}
